

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(253, 252, 252);
}

.heading-one {
  font-size: 2.7rem;
  color: #1e40af; /* Tailwind blue-800 */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.p{
  font-size: 1.15rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

@theme{
    /*font families*/
    --font-roboto: "Roboto", sans-serif; /* general purpose font for various text elements. */
    --font-body: "Rubik", sans-serif; /**/
}
@theme{
    /*brand colors */
    --color-heading: #C10007;
    --color-paragraph: #052F4A;
    --color-cta: rgb(193, 0, 7);

    /*font sizes*/
    --text-display: 4rem;
    --text-h1: 3rem;
    --text-h2: 2.25rem;
    --text-h3: 1.75rem;
    --text-body: 1rem;
    --text-small: 0.85rem;
    

    /*animations*/
    
      --animate-marquee: slider 20s linear infinite;
      @keyframes slider {
            from {
            transform: translateX(0);
            }

            to {
            transform: translateX(-50%);
            }
      }
      
}

 /*font sizes*/
 /*   --text-display: 4rem;
 /* --text-h1: 3rem;
 /* --text-h2: 2.25rem;
 /*   --text-h3: 1.75rem;
 /* --text-body: 1rem;
 /*   --text-small: 0.85rem;
    */