
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(253, 252, 252);
}

@theme{
    /*font families*/
    --font-display: "Work Sans", sans-serif; /* hero headlings. */
    --font-body: "Inter", sans-serif; /* paragraphs, small text, etc. */
    --font-mono: "Roboto Mono", sans-serif; /* code blocks, monospaced text, etc. */
   
    /*brand colors */
    --color-heading: #C10007;
    --color-paragraph: #052F4A;
    --color-cta: rgb(193, 0, 7);

    /*font sizes*/
    --text-display: 4rem;
    --text-h1: 3rem;
    --text-h2: 2.25rem;
    --text-h3: 1.75rem;
    --text-body: 1rem;
    --text-small: 0.85rem;
    

    /*animations*/
    
      --animate-marquee: slider 20s linear infinite;
      @keyframes slider {
            from {
            transform: translateX(0);
            }

            to {
            transform: translateX(-50%);
            }
      }
      
}

 /*font sizes*/
 /*   --text-display: 4rem;
 /* --text-h1: 3rem;
 /* --text-h2: 2.25rem;
 /*   --text-h3: 1.75rem;
 /* --text-body: 1rem;
 /*   --text-small: 0.85rem;
    */